{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}

<h1>Welcome to my blog</h1>
    {% if user.is_authenticated %}
        {{ user.username }}
    {% endif %}
<p>Check out my latest posts below:</p>
    <button type="button" class="btn btn-primary">Primary</button>
<ul>
    {% for category in categories %}
        <li>
            <a href="{% url 'category_detail' category.id %}">
                {{ category.name }}

            </a>
            <ul>
                {% for post in category.post_set.all %}
                    <li>{{ post.title }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}